.bio {
    background-color: #10142d;
    color: white;
    width: 100%;
    font-size: 18px;
} 

#bio {
    padding-top: 60px;
    border-bottom: 1px solid#8798f1;
}

.personal {
    width: 90%;
    margin: 0 auto;
}

.family-section {
    max-width: 80%;
}

.personal {
    width:70%;
    margin-bottom: 20px;
}

@media screen and (max-width: 660px) {
   .bio {
       margin-top: 30px;
   }
  }