.family-section {
    margin: 0 auto;
    min-width: 281px;
    margin: 12px;
    text-align: center;
    min-width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    img {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 660px) {
  .MuiPaper-root.MuiCard-root.makeStyles-root-1.grow.MuiPaper-elevation1.MuiPaper-rounded {
    margin-bottom: 10px !important;
    }
}