Header {
    display: flex;
    justify-content: space-between;
}

.topline {
    display: flex;
    flex-direction: row; 
  }
  
  .top-header {
    background-color: rgba(0,0,0,0.75);
    border-bottom: 2px solid #19aaff;
  }

  .description, .name {
    font-size: 15px;
    color: white;
    padding: 10px 5px;
  } 
  .top-header {
    position: relative;
    z-index:5;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
   .sticky + section#bioPage {
    padding-top: 65px;
  } 
  