#techAnchor {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
}

#tech {
    ul {
      display: flex;
      max-width: 90%;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10px;
    li {
      list-style-type:none;
     .techImage {
      img {
        display: flex;
        flex-direction: row;
        padding-right: 30px;
        max-width: 15%;
        height: auto;
        margin: 2%;
        padding: 10px;
      }
      }
     }
    }
  }


.techContainer {
    width: 90%;
    margin: 10px auto;
}

.techCard {
    width: 200px;
    border: 1px solid  #8798f1;;
    // background-color: #2d2727;
    margin: 10px;
}

div.techimage > img {
    max-width: 100px;
    height: auto;
}

.techdescription {
    color: #8798f1;
    z-index: 1;
}

.title > h1 {
    color: white;
    font-size: 2.3em;
}

.subtitle {
    color: white;
}

.invite {
    color: lightgreen;
}

@media screen and (max-width: 660px) {
    .techCard {
        margin: 1px !important;
    }
  }