@import './navbar';
@import './bio';
@import './tech';
@import './hero';
@import './projects';
@import './family';
@import './header';
@import './footer';

body {
    background-color: #000;
    font-family: 'Anonymous Pro', monospace; 
    position: relative;
}

.statement {
    border: 1px solid #fff;
    color: #ffffff;
    padding: 10px 2%;
    width: 100%;
    .professional {
      padding: 10px;
    }
  }

  .professional {
      border: 1px solid white;
      padding: 30px;
      // border-radius: 10px;
  }

  .description {
      color: white;
  }

  .font {
    color: #fff;
  }

  .grow { 
    transition: all .2s ease-in-out; 
  }
    
  .grow:hover { 
  transform: scale(1.03); 
  }