@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import 'variables';
@import './components/';
@font-face {
  font-family: 'Greenscreen';
  src: url('../fonts/Greenscr.ttf')  format('truetype'), /* Safari, Android, iOS */
}

#logo {
  font-family: 'Greenscreen';
  color: #8798f1;
}


.fullPage {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
}

.half-page {
  width: 50%;
}
#bioPage { 
   color: white;
  display:flex;
  justify-content: space-between;
}
#bioPage header {
  margin: 0px 5px;
  font-size: 30px;
}
#bioPage div {
  color: white;
  font-size:13px;
  height:200px;width:66%;font:16px/26px;

}



#technologiesPage {
background-color: #00b300;
color: #d1d1d1;
  font-size:20px;
  padding: 10px;

}

.projectDossierButtonContainer {
  height: $projectsHeight !important;
  z-index: 2;
  display: flex;
  align-items: top;
  background-color:#1b1919;
  margin-bottom: 5%;
  border: 1px solid #fff;

    .projectDossierButton {
      writing-mode: vertical-rl;
      position: relative;
      inset-inline: 50px 20px;
      line-height: 13px;
      width: 60px;
      justify-content: center;
      display: flex;
      align-items: center;
      color: white;
    }
}

.projectDossier {
  height: $projectsHeight !important;
  z-index: 0;
  position: absolute;
  left: 55;
  top: 0;
  background: linear-gradient(90deg,#017a9b,#018377);
  border: 1px solid #fff;
  color: #fff;
  padding: 5%;
  padding-top: 2%;
  /*width: 27%;*/
  width: 50%;
  

  .title {
    font-size: 35px;
    text-align:center;
  }
 
}

.animate {
  transition: all 1s ease;
  
}
.animate.rt  { right: 0%;  }

.animate.rt.move {
  right: 100%; 
  transform: translate(100%, 0);
}

.project-outside {
  display: flex;
  flex-wrap: row wrap;
  padding-right: 10px;
  position: relative;
}

.mobileLinks {
  display: none;
}

  .projectDossierButtonContainer,
.projectDossier,
.projectDossierButton {
  display: none;
}

.mobileLinks {
  display: block;
}


.technologiesUsed {
  color: darkslategrey;
  background: linear-gradient(90deg,#017a9b,#018377);
  margin-top:-22px;
  padding-bottom: 17em;
}

img.project {
  width: 98%;
  height: auto;
}

  @media screen and (min-width:993px) {

    .name, .description {
      font-size: 20px;
    }
  }
  

  .techImage img {
    width: 55px;
    height: auto;
  }

.screenshot img {
  max-width: 90%;
}

.hide {
  display: none;
  position: absolute;
  left: 40px;
  z-index: -2;
}


.personal > .headerspecial, .professional > .headerspecial {
  margin-top: 0
}



